#app {
  height: 100dvh;
  font-size: 14px;
  color: #333333;
  font-family: "Arial",
    "文泉驛正黑",
    "WenQuanYi Zen Hei",
    "黑體-繁",
    "Heiti TC",
    "新細明體",
    "PMingLiU",
    sans-serif;
  
  a {
    color: #2c3e50;
    font-weight: bold;
  }

  .router-link-active {
    color: #42b983;
  }
}
